#root {
  margin: 0 auto;
  padding: 2rem;
}

.MuiContainer-root {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.MuiTextField-root {
  background-color: white;
}

.MuiTableContainer-root {
  margin: 4rem 0;
  background-color: white;
}

.MuiSelect-root {
  background-color: white;
}

.MuiButton-root {
  margin-top: 2rem !important;
}
